[flake8]
# specify the maximum line length
max-line-length = 99
 
# ignore certain errors/warnings by specifying their error codes
# multiple codes can be separated by a comma
ignore = W503, F401, E402, E203
# W503 - Line break occurred before a binary operator
# F401 - Module imported but unused
# E402 - Module level import not at top of file
# E203 - Whitespace before ':'

# # exclude certain files and directories from being checked
exclude = .git, __pycache__, build, dist, .venv, migrations